name: Daily Job Alert

on:
  schedule:
    # Runs at 7:00 AM IST (01:30 UTC)
    - cron: '30 1 * * *'

    # Runs at 7:00 PM IST (13:30 UTC)
    - cron: '30 13 * * *'

  workflow_dispatch:


jobs:
  scrape_and_notify:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Job Scraper
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python job_scraper.py
